<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido</title>
  </head>
  <body>
    <h1>Sistema de administracion de personas (SAP)</h1>
    <div class="">
      <a href="nueva_persona">Agregar persona</a>
    </div>

    <div class="">Numero de personas: {{no_personas}}</div>
    <div class="">
      <ul>
        {% for persona in personas %}
        <li >
          Persona {{persona.id}}: {{persona.nombre}} {{persona.apellido}}
          {{persona.email}}
          <a href="detalle_persona/{{persona.id}}">Ver detalle</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
